.menu
  .menu_left
    = link_to "/", class: "title" do
      Gather Room
  .menu_right 
    .menu_right_name
      
    .menu_right_function
      〜Sign Up〜
.main
  .main_contents
    .main_contents_post
      .contents.row
        .empty 
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .sign_up_sentence
            Please enter the following items.
          = render "devise/shared/error_messages", resource: resource
          .field
            -# = f.label :Username
            %em 
            %br/
            = f.text_field :name, autofocus: true, maxlength: "10", placeholder: "10 characters maximum", class:"input"
          .field
            -# = f.label :Email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email", class:"input"
          .field
            -# = f.label :Password
            - if @minimum_password_length
              %em
                -# (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "new-password",placeholder: "password (#{@minimum_password_length} characters minimum)", class:"input"
          .field
            -# = f.label :Password_confirmation
            %br/
            = f.password_field :Password_confirmation, autocomplete: "new-password",placeholder: "password_confirmation", class:"input"
          .field
            = f.submit "Sign up", class:"send_btn"
          .field
            = link_to 'Register with Google', user_google_oauth2_omniauth_authorize_path, method: :post, class:"google"