.menu
  .menu_left
    = link_to "/", class: "title" do
      Gather Room
  .menu_right
    .menu_right_name
      User :
      - if user_signed_in?
        = link_to "/users/#{current_user.id}", class: "icon" do
          =current_user.name
      - else
        Not logged in
    .menu_right_function
      %p
        = @name
        's work list
.main
  .main_contents
    .main_contents_post
      .contents.row
        -@posts.each do |post|
          .content_post{:style => "background-image: url(#{post.image});"}
            .more
              %ul.more_list
                %li
                  = link_to "/posts/#{post.id}", method: :get, class: "icon" do
                    .content_post{:style => "background-image: url(#{post.image});"}
