.menu
  .menu_left
    = link_to "/", class: "title" do
      Gather Room
  .menu_right 
    .menu_right_name
      User : 
      - if user_signed_in?
        = link_to "#", class: "icon" do
          =current_user.name
      - else
        No User
    .menu_right_function
      〜Edit Post〜
.main
  .main_contents
    .main_contents_post
      .contents.row
        .empty
        .container
          = form_for @post do |form|
            .sign_up_sentence
              Please enter the following items.
            .field
              %br/
              = form.text_field :image, placeholder: "Image Url", class:"input"
            .field
              %br/
              = form.text_area :text, placeholder: "text", rows: "2", class:"input"
            .field
              = form.submit "SEND", class:"send_btn"