.menu
  .menu_left
    Gather Room
  .menu_right 
    .menu_right_name
      User : Taro
    .menu_right_function
.main
  .main_contents
    .main_contents_post
      .contents.row
        .container
          = form_for @post do |form|
            %h3
              Post it
              .container_user
                = form.text_field :name, placeholder: "User"
              .container_image
                = form.text_field :image, placeholder: "Image Url"
              .container_text
                = form.text_area :text, placeholder: "text", rows: "2"
              .container_send
                = form.submit "SEND"